extends layout
block content
  h1= title
  p Welcome to #{title}
  p #{title} - Follow your followers
  form(id='trousers_form')
   input(type='text', name='username', id='username', placeholder="What's your @Twitter?")
  .names_and_faces
