extends layout
block content
  h1= title
  p Welcome to #{title}
  p #{title} - Follow your followers
  form(id='trousers_form')
   input(type='text', name='username', id='username', placeholder="What's your @Twitter?")
  .box_title
   b Non Followers
   label(class='non_followers_label')
  .box_title
   b Followers: 
   label(class='followers_label')
  .box_title
   b Following/Followers: 
   label(class='both_f_and_f_label')
  .box_title
   b Following: 
   label(class='friends_label')
  .non_followers
  .followers
  .both_f_and_f
  .friends
