extends layout
block content
  h1= title
  p #{title} - Follow your followers
  #spinAjax
   img(src='images/loader.gif')
  form(id='trousers_form')
   b @
   input(type='text', name='username', id='username', placeholder="What's your @Twitter?")
  .box_title
   b Non Followers: 
   span(class='counter non_followers_label')
  .box_title
   b Followers: 
   span(class='counter followers_label')
  .box_title
   b Following/Followers: 
   span(class='counter both_f_and_f_label')
  .box_title
   b Following: 
   span(class='counter friends_label')
  .non_followers
  .followers
  .both_f_and_f
  .friends
