doctype 5
html
  head
    title= title
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='javascripts/lodash.min.js')
    script(type='text/javascript', src='javascripts/pLayer.js')
    script(type='text/javascript', src=scriptForView)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content