body {
	font: 14px "Lucida Grande",Helvetica,Arial,"sans - serif";
}

a {
	color: #00B7FF;
}
.followers, .both_f_and_f, .friends{
	border:1px dashed #ccc;
	width: 370px;
	height: 450px;
	overflow-y: auto;
	display:inline-block;
	float:left;
	padding:2px;
	margin:5px;
}


.entry {
	border-bottom: 1px solid black;
	background-color:#EBE8E9;
	height:57px;
}
.entry label{
	color: #ccc;
}
.entry p{
	clear:right;
	margin:0px;
	padding:0px;
}

.entry img {
	border-radius:8px;
	margin-right: 5px;
	float:left;
}